* {
   margin: 0;
   padding: 0;
}

.container { 
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(to right, #f5f7fa, #c3cfe2);
}

button {
   font-family: Lato;
   cursor: pointer;
   border: none;
}


.calculator {
   display: grid;
   grid-template-rows: minmax(120px, auto) repeat(5, 80px);
   grid-template-columns: repeat(4, 80px);
   font-family: Lato;
}


/* ----------------  DISPLAY ------------------------------- */



.calculator__output {
   color: #f7f7f7;
   background-color: rgba(48, 51, 46, 1);
   grid-column: 1 / -1;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-end;
   padding: 10px;
   font-size: 30px;
   word-wrap: break-word;
   word-break: break-all;
}

.calculator__output [data-previous-operand] {
   font-size: 18px;
   color: rgba(247, 247, 247, .7)
}

/* ----------------  OPERATIONS ----------------------------- */



button[data-operation] {
   background-color: #f68e5f;
   color: #30332e;
   font-size: 30px;
   font-weight: 700;
   
}

button[data-operation]:hover {
   background-color: rgba(246, 142, 95, .9)

}

button[data-operation="AC"] {
   grid-column: span 2;
}

button[data-operation="="] {
   grid-column: span 2;
}



/* ----------------  NUMBERS ------------------------------- */



button[data-number] {
   background-color: rgba(48, 51, 46, 1);
   color: #f7f7f7;
   font-size: 20px;
}
button[data-number]:hover {
   background-color: rgba(48, 51, 46, .9);
}


